/* prettier 사용해서 정리 (csscomb가 인식 못하는 부분이 있어 다른 라이브러리로 대체) */

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css');

body
{
    font-family: 'pretendard', sans-serif;

    margin: 0;
    padding: 0;

    letter-spacing: -.04vw;
}

body ::selection
{
    color: #000;
    background-color: #abff0099;
}

.container
{
    width: 90vw;
    margin: 0 auto;
    padding: 2vw 0;
}

header
{
    position: fixed;
    z-index: 3;

    display: flex;
    justify-content: center;

    width: 90%;

    transition: transform .3s ease;
    /* 부드러운 애니메이션 */
}

header.hidden
{
    transform: translateY(-200%);
}

header.visible
{
    transform: translateY(0);
}


nav ul
{
    display: inline-flex;

    margin: 0;
    padding: .2vw;

    list-style: none;

    border: 1px solid rgba(255, 255, 255, .56);
    border-radius: 100px;
    background: rgba(239, 239, 239, .37);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);

            backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    gap: 1vw;
}

nav li
{
    display: flex;
    align-items: center;

    padding: .2vw 1.2vw;
}

nav li:hover
{
    transition: all .3s ease-out;

    border-radius: 100px;
    background-color: #abff00c0;
}

nav a
{
    font-size: 1vw;

    text-decoration: none;

    color: inherit;
}


.logo img
{
    width: 2vw;
    margin-left: 1vw;
}

footer
{
    font-size: 1vw;
    line-height: 1vw;

    margin: 3vw 0;
    padding-top: 1vw;

    text-align: center;

    border-top: solid 1.2px #000;
}

footer a
{
    font-weight: 450;

    display: inline-block;

    padding: .1vw .5vw;

    transform: rotate(-3deg);
    text-decoration: none;

    color: inherit;
    background-color: #abff00;
}

.link
{
    display: inline-block;

    transform: rotate(3deg);
}

footer a:hover
{
    display: inline-block;

    transition: all .4s ease;
    transform: rotate(0deg);
}

.guide
{
    display: grid;

    margin-bottom: 2vw;

    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
}

.guideBox
{
    margin: 2vw 0;
    padding: 2vw;

    text-align: center;

    border-radius: 1vw;
    background-color: #f5f5f5;

    grid-column: span 1;
}

.guideTitle img
{
    width: 80%;
    margin-top: -5.5vw;

    justify-self: center;
}

.guideTitle2 img
{
    width: 70%;
    margin-top: -4.7vw;

    justify-self: center;
}

.guideContent
{
    font-size: 1vw;
    line-height: 2vw;

    text-align: left;
}

.step
{
    font-size: 1.1vw;
    line-height: 1.5vw;

    display: inline-block;

    width: 1.5vw;
    height: 1.5vw;
    margin-right: 1.2vw;
    margin-left: 4.5vw;

    text-align: center;

    color: white;
    background-color: #212121;
}

main
{
    position: relative;

    margin: 4vw 0;
}

.mainType
{
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 12vw;
    padding: 0 2vw;
}

.mainType img
{
    height: 12vw;

    object-fit: contain;
}

.type3
{
    position: absolute;
    z-index: 1;
    top: 48%;
    left: 17.7%;

    width: 4vw;

    transform: translate(-50%, -50%);
    transform-origin: center center;
    animation: flip3D 3s ease-in-out infinite;

    perspective: 1000px;
    transform-style: preserve-3d;
}


@keyframes flip3D
{
    0%
    {
        transform: rotateY(0deg) rotate(0deg)scale(1.2);
    }

    50%
    {
        transform: rotateY(180deg) rotate(22.5deg)scale(1.5);
    }

    100%
    {
        transform: rotateY(360deg) rotate(0deg) scale(1.2);
    }
}

.type4
{
    position: absolute;
    z-index: 1;
    top: 55.5%;
    left: 78.5%;

    width: 4vw;

    transform: translate(-50%, -50%);
    animation: rotate 3s ease-in-out infinite;
}

@keyframes rotate
{
    0%
    {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }

    50%
    {
        transform: translate(-50%, -50%) rotate(180deg) scale(1.5);
    }

    100%
    {
        transform: translate(-50%, -50%) rotate(360deg) scale(1);
    }
}

.card-deck
{
    position: relative;

    display: flex;
    justify-content: center;

    width: 100%;
    margin-bottom: 5vw;
}

.background
{
    position: relative;
    z-index: 1;

    display: flex;
    overflow: hidden;
    justify-content: center;

    width: 100%;
    height: 40vw;
    margin-top: -2vw;
    margin-bottom: 2vw;

    border-radius: 1.5vw;
    background-color: #fff;
}

.videoTitle
{
    font-size: 1.4vw;
    font-weight: 500;

    position: absolute;
    z-index: 4;
    top: 0;
    left: 40%;

    margin-top: 2vw;
    padding: .2vw 1vw;

    color: #212121;
    background: linear-gradient(180deg, #e5ffb0, #abff00);
}


/* codepen 사용 / 출처 표기 */
/* https://codepen.io/akalaws/pen/LYBNMxJ */

.wheel-container
{
    display: grid;

    width: 25vw;
    height: 25vw;

    grid: 1fr / 1fr;
    aspect-ratio: 1;
}

.wheel
{
    width: 100%;
    height: 100%;

    animation: spin 10s linear infinite;
    /* 스타일 변경 : 화이트 */

    opacity: .5;
    background-image: url(https://raw.githubusercontent.com/akaLaws/doodles/c08f1865c1b56cc896a2d1eae480574467512187/wheelnew.svg);
    background-repeat: no-repeat;

    grid-column: 1;
    grid-row: 1;
    filter: invert(100%) brightness(1);
}

.wheel:nth-of-type(2)
{
    animation: spin-reverse 5s linear infinite;

    opacity: .7;
}

@keyframes spin
{
    to
    {
        transform: rotate(0deg);
    }

    from
    {
        transform: rotate(1turn);
    }
}

@keyframes spin-reverse
{
    to
    {
        transform: rotate(0deg) scaleX(-1);
    }

    from
    {
        transform: rotate(-1turn) scaleX(-1);
    }
}

@keyframes sky
{
    0%,
    100%
    {
        background-position: center;
    }

    25%
    {
        background-position: left;
    }

    70%
    {
        background-position: bottom;
    }

    90%
    {
        background-position: right;
    }
}

.wheel-wrapper
{
    position: absolute;
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    height: 100%;
}

.bg-video
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
}
