@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css');

body {
    font-family: 'pretendard', sans-serif;
    letter-spacing: -0.04vw;
    margin: 0;
    padding: 0;
}

body ::selection{
    background-color: #aaff0099;
    color: #000;
}

.container {
    width: 90vw;
    margin: 0 auto;
    padding: 2vw 0;
}

header {
    z-index: 3;
    display: flex;
    justify-content: center;
    width: 90%;
    position: fixed;
    transition: transform 0.3s ease; /* 부드러운 애니메이션 */
}

header.hidden {
    transform: translateY(-200%);
}

/* 보임 상태 */
header.visible {
    transform: translateY(0);
}


nav ul {
    list-style: none;
    padding: 0.2vw;
    border-radius: 100px;
    margin: 0;
    display: inline-flex;
    background: rgba(239, 239, 239, 0.37);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.56);
    gap: 1vw;
}

nav li {
    display: flex;
    align-items: center;
    padding: 0.2vw 1.2vw;

}

nav li:hover {
    background-color: #aaff00c0;
    border-radius: 100px;
    transition: all 0.3s ease-out;
}

nav a {
    color: inherit;
    text-decoration: none;
    font-size: 1vw;
}


.logo img {
    width: 2vw;
    margin-left: 1vw;
}

footer {
    text-align: center;
    border-top: solid 1.2px #000;
    padding-top: 1vw;
    margin: 3vw 0;
    font-size: 1vw;
    line-height: 1vw;
}

footer a {
    text-decoration: none;
    color: inherit;
    font-weight: 450;
    background-color: #ABFF00;
    padding: 0.1vw 0.5vw;
    transform: rotate(-3deg);
    display: inline-block;
}

.link {
    transform: rotate(3deg);
    display: inline-block;
}

footer a:hover {
    transform: rotate(0deg);
    display: inline-block;
    transition: all 0.4s ease;
}

.guide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    margin-bottom: 2vw;
}

.guideBox {
    grid-column: span 1;
    border-radius: 1vw;
    background-color: #f5f5f5;
    padding: 2vw;
    margin: 2vw 0;
    text-align: center;
}

.guideTitle img {
    width: 80%;
    margin-top: -5.5vw;
    justify-self: center;

}

.guideTitle2 img {
    width: 70%;
    margin-top: -4.7vw;
    justify-self: center;
}

.guideContent {
    line-height: 2vw;
    font-size: 1vw;
    text-align: left;
}

.step {
    background-color: #212121;
    width: 1.5vw;
    height: 1.5vw;
    color: white;
    display: inline-block;
    /* 또는 inline-flex */
    text-align: center;
    font-size: 1.1vw;
    line-height: 1.5vw;
    /* height와 같게 설정해서 세로 가운데 정렬 */
    margin-left: 4.5vw;
    margin-right: 1.2vw;
}

main {
    position: relative;
    /* 부모를 relative로 설정 */
    margin: 4vw 0;
}

.mainType {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vw;
    position: relative;
    z-index: 2;
    padding: 0 2vw;
}

.mainType img {
    height: 12vw; /* 이미지 높이 고정 */
    object-fit: contain; /* 비율 유지하면서 맞춤 */
}

.type3 {
    width: 4vw;
    position: absolute;
    top: 48%;
    /* 세로 가운데 */
    left: 17.7%;
    /* 가로 가운데 */
    transform: translate(-50%, -50%);
    /* 정확한 가운데 정렬 */
    z-index: 1;
    /* 뒤쪽에 배치 */
    perspective: 1000px;
    animation: flip3D 3s ease-in-out infinite;
    transform-origin: center center;
    transform-style: preserve-3d;
    /* 3D 변환 유지 */
}


@keyframes flip3D {

    0% {
        transform: rotateY(0deg) rotate(0deg)scale(1.2);
    }

    50% {
        transform: rotateY(180deg) rotate(22.5deg)scale(1.5);
        /* 한 바퀴 돌기 */
    }

    100% {
        transform: rotateY(360deg) rotate(0deg) scale(1.2);
    }
}

/* mainType4 이미지 스타일 */
.type4 {
    width: 4vw;
    /* main의 직계 자식 img (mainType4) */
    position: absolute;
    top: 55.5%;
    /* 세로 가운데 */
    left: 78.5%;
    /* 가로 가운데 */
    transform: translate(-50%, -50%);
    /* 정확한 가운데 정렬 */
    z-index: 1;
    /* 뒤쪽에 배치 */
    animation: rotate 3s ease-in-out infinite;
    /* 회전 애니메이션 */
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) rotate(180deg) scale(1.5);
        /* 중간에 1.2배 */
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg) scale(1);
    }
}

.card-deck{
    width: 100%;
    margin-bottom: 5vw;
    position: relative;
    display: flex;
    justify-content: center;
}

.background{
    width: 100%;
    height: 40vw;
    z-index: 1;
    background-color: #fff;
    border-radius: 1.5vw;
    overflow: hidden;
    position: relative;
    margin-top: -2vw;
    margin-bottom: 2vw;
    display: flex;
    justify-content: center;
}

.videoTitle{
    position: absolute;
    z-index: 4;
    top: 0%;
    left:40%;
    font-size: 1.4vw;
    font-weight: 500;
    background: linear-gradient(180deg, #e5ffb0, #abff00);
    color: #212121;
    padding: 0.2vw 1vw;
    margin-top: 2vw;
    /* transform: rotate(-3deg); */
}

.card-motion {
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) rotate3d(0, -5, 5, -30deg) scale(1);
    perspective: 800px;
}

.cardMain {
    position: absolute;
    width: 5vw;
    height: 5vw;
    top: 50%;
    left: 50%;

    transform-origin: top center;
    transform-style: preserve-3d;
    will-change: transform;

    background: #aaff007f;
    border-radius: 0.7vw;
    box-shadow: 0 4px 10px rgba(172, 172, 172, 0.25);
    backdrop-filter: blur(3px);
    /* -webkit-backdrop-filter: blur(11.8px); */
    border: 1px solid rgba(244, 244, 244, 0.54);
}

@keyframes turn {
    from {
        transform: rotateX(1turn);
    }
    to {
        transform: rotateX(0turn);
    }
}

.card01 { animation: turn 10s calc(1 * -450ms) ease-in-out infinite; }
.card02 { animation: turn 10s calc(2 * -450ms) ease-in-out infinite; }
.card03 { animation: turn 10s calc(3 * -450ms) ease-in-out infinite; }
.card04 { animation: turn 10s calc(4 * -450ms) ease-in-out infinite; }
.card05 { animation: turn 10s calc(5 * -450ms) ease-in-out infinite; }
.card06 { animation: turn 10s calc(6 * -450ms) ease-in-out infinite; }
.card07 { animation: turn 10s calc(7 * -450ms) ease-in-out infinite; }
.card08 { animation: turn 10s calc(8 * -450ms) ease-in-out infinite; }
.card09 { animation: turn 10s calc(9 * -450ms) ease-in-out infinite; }
.card10 { animation: turn 10s calc(10 * -450ms) ease-in-out infinite; }
.card11 { animation: turn 10s calc(11 * -450ms) ease-in-out infinite; }
.card12 { animation: turn 10s calc(12 * -450ms) ease-in-out infinite; }
.card13 { animation: turn 10s calc(13 * -450ms) ease-in-out infinite; }
.card14 { animation: turn 10s calc(14 * -450ms) ease-in-out infinite; }
.card15 { animation: turn 10s calc(15 * -450ms) ease-in-out infinite; }
.card16 { animation: turn 10s calc(16 * -450ms) ease-in-out infinite; }
.card17 { animation: turn 10s calc(17 * -450ms) ease-in-out infinite; }
.card18 { animation: turn 10s calc(18 * -450ms) ease-in-out infinite; }
.card19 { animation: turn 10s calc(19 * -450ms) ease-in-out infinite; }
.card20 { animation: turn 10s calc(20 * -450ms) ease-in-out infinite; }
.card21 { animation: turn 10s calc(21 * -450ms) ease-in-out infinite; }
.card22 { animation: turn 10s calc(22 * -450ms) ease-in-out infinite; }



#svg2 {
    width: 150vw;
    height: 150vw;
    position: absolute; /* 추가 */
    top: -5vw; /* 추가 */
    left: -50vw; /* 왼쪽으로 이동 (조정 가능) */
    z-index: 3; /* 비디오(z-index: 1)보다 위로 */
    pointer-events: none; /* 클릭 방지 */
}

#path3346 {
    stroke: #ffffff80;
    stroke-dasharray: 300px;
    -webkit-animation: spin 10s ease-in-out infinite;
    -moz-animation: spin 10s ease-in-out infinite;
    -o-animation: spin 10s ease-in-out infinite;
    animation: spin 10s ease-in-out infinite;
    stroke-dashoffset: 100px;
}

@keyframes spin {
    0% {
        stroke-dashoffset: 100px;
        stroke-width: 1px;
    }
    50% {
        stroke-dashoffset: 500px;
        stroke-width: 20px;
    }
    100% {
        stroke-dashoffset: 100px;
        stroke-width: 1px;
    }
}

@-webkit-keyframes spin {
    0% {
        stroke-dashoffset: 100px;
        stroke-width: 1px;
    }
    50% {
        stroke-dashoffset: 500px;
        stroke-width: 20px;
    }
    100% {
        stroke-dashoffset: 100px;
        stroke-width: 1px;
    }
}


.wheel-container {
    display: grid;
    grid: 1fr / 1fr;

    width: 25vw;
    height: 25vw;
    aspect-ratio: 1;
}

.wheel {
    grid-column: 1;
    grid-row: 1;

    background-image: url(https://raw.githubusercontent.com/akaLaws/doodles/c08f1865c1b56cc896a2d1eae480574467512187/wheelnew.svg);

    background-repeat: no-repeat;
    filter: invert(100%) brightness(1); /* 화이트로 변경 */

    opacity: 0.5;

    width: 100%;
    height: 100%;

    animation: spin 10s linear infinite;
}

.wheel:nth-of-type(2) {
    opacity: 0.7;
    animation: spin-reverse 5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(1turn);
    }
}

@keyframes spin-reverse {
    to {
        transform: rotate(0deg) scaleX(-1);
    }

    from {
        transform: rotate(-1turn) scaleX(-1);
    }
}

@keyframes sky {

    0%,
    100% {
        background-position: center;
    }

    25% {
        background-position: left;
    }

    70% {
        background-position: bottom;
    }

    90% {
        background-position: right;
    }
}

.wheel-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
    position: absolute;
    z-index: 5;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; /* 이 줄 추가 */
}